.vscode
/bin/
*.a
!libllama.a
!libbinding.a
!libllama_cl.a
!libbinding_cl.a
!libllama_cu.a
!libbinding_cu.a
*.o
*.s

llama.lib
llama.obj
llama.exp
llama.dll
llama_cl.dll
llama_cu.dll
llama.def
llama_cl.def
llama_cu.def

openclblast/

clblast.7z
clblast.zip
opencl.zip

output.log

7zr.exe
