.vscode
/bin/
*.a
!libllama.a
!libllama_lin64.a
!libmyllama.a
!libmyllama_lin64.a
!libllama_cl.a
!libllama_cl_lin64.a
!libmyllama_cl.a
!libmyllama_cl_lin64.a
!libllama_cu.a
!libllama_cu_lin64.a
!libmyllama_cu.a
!libmyllama_cu_lin64.a
!libclblast.a
!libclblast_lin64.a
!libOpenCL_lin64.a
*.o
*.s

llama.lib
llama.obj
llama.exp
llama.dll
llama_cl.dll
llama_cu.dll
llama.def
llama_cl.def
llama_cu.def

vendors/openclblast/

clblast.7z
clblast.zip
opencl.zip

output.log

7zr.exe
